*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:white;
    --secondary-color:black;
    --tertiary-color:rgb(32, 32, 76);
}

.dark-mode{
    --primary-color:black;
    --secondary-color:white;
    --tertiary-color:rgb(174, 174, 241);
    

}

#mode{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 25vw;
}

header{
    height: 15vh;
    background-color:var(--tertiary-color) ;
    color:var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
}

header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 25vw;
    
}

.main{
    height: 80vh;
    background-color:var(--primary-color);
    color:var(--secondary-color);
    border:var(--secondary-color) 20px solid;
}




.choice{
    width: 110px;
    height: 110px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 5px;
    border:var(--secondary-color) 2px solid;
    
}

.choice:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 50%;
    
    
}

img{
    width: 145px;
    height: 145px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 1rem;
    gap: 2rem;
}

#user,#pc{
    font-size: 4rem;
    font-weight: bold;
}

.msg-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#msg{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
    display: inline;
    padding: 0.7rem;
    border-radius: 1rem;
    border:var(--secondary-color) 5px solid;
    
}

@media  (max-width:768px) {
    #mode{
        margin-left: 10vw;
    }

    header ul{
        padding-left: 10vw;
    }

    .main{
        
        border:var(--secondary-color) 18px solid;
    }

    .choices{
        margin-top: 40px;
    }

    .choice{
        width: 80px;
        height: 80px;
        padding: 1rem;
    }

    img{
        width: 105px;
        height: 105px;
    }

    #user,#pc{
        margin-top: 60px;
        font-size: 2rem;
        
    }

    .msg-container{
        margin-top: 1.5rem;
    }
    
    #msg{
        font-size: 1.6rem;
        padding: 0.5rem;
        border-radius: 0.8rem;
        
    }
    
}

@media (max-width:480px) {
    #mode{
        margin-left: 5vw;
    }

    header{
        font-size: 12px;
    }

    header ul{
        padding-left: 5vw;
    }

    .choices{
        margin-top: 60px;
    }

    .choice{
        width: 40px;
        height: 40px;
        padding: 1rem;
    }

    img{
        width: 65px;
        height: 65px;
    }

    #user,#pc{
        margin-top: 60px;
        font-size: 1.8rem;
        
    }

    
    #msg{
        font-size: 1.4rem;
        padding: 0.4rem;
        border-radius: 0.6rem;
        
    }
    
}